---
import type { CollectionEntry } from 'astro:content';
import { Pill } from '@eliancodes/brutal-ui';
import SummaryCard from '../generic/SummaryCard.astro';
import { Button } from '@eliancodes/brutal-ui';

interface Props {
  vocabulary: CollectionEntry<'vocabulary'>;
}

const { vocabulary } = Astro.props;
---

<SummaryCard
  title={vocabulary.data.title}
  description={vocabulary.data.description}
>
  <div class='flex justify-end my-4'>
    <Button href={`/vocabulary/${vocabulary.slug}/`}>Read post &rarr;</Button>
  </div>

  <div class='hidden sm:inline-block'>
    <p class='poppins mt-2'>tags:</p>
    <div class='flex justify-between items-center'>
      <ul class='flex gap-4 mt-2'>
        {
          vocabulary.data.tags.map((tag) => {
            return (
              <li>
                <a class="sanchez" href={`/vocabulary/tags/${tag.toLowerCase()}/`}>
                  <Pill>{tag}</Pill>
                </a>
              </li>
            );
          })
        }
      </ul>
      {
        vocabulary.data.draft && (
          <span class='bg-green rounded-full border-2 py-1 px-4 text-sm border-black card-shadow'>
            Draft
          </span>
        )
      }
    </div>
  </div>
</SummaryCard>
